body {
    background-color: #F7F7F7;
    margin-top: 50px;
  }
  
  .card {
    height: auto !important;
    padding: 0.9375rem;
  }
  .card:last-of-type {
    float: left !important;
  }
  .card a {
    height: auto;
  }
  .card a .container {
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out 0s;
  }
  .card a .container:hover {
    transform: translateY(-0.25em);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .card a .container img {
    height: 245px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 2px 2px 0 0;
  }
  .card a .container img[src=""] {
    content: url("https://s-media-cache-ak0.pinimg.com/originals/84/71/e2/8471e2efdd2d3164895748ee8673124d.jpg");
  }
  .card a .details {
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card a .details .top {
    width: 100%;
  }
  .card a .details .top .title {
    font-weight: 500;
    font-size: 1.15rem;
    color: #2A2D33;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card a .details .top .title:empty:before {
    content: "No title found";
  }
  .card a .details .bottom {
    width: 100%;
    padding-top: 6px;
  }
  .card a .details .bottom .rating {
    float: left;
  }
  .card a .details .bottom .rating .fa-star-o {
    color: #2A2D33;
  }
  .card a .details .bottom .rating .fa-star {
    color: #F8E71C;
  }
  .card a .details .bottom .favourite {
    float: right;
    height: 100%;
  }
  .card a .details .bottom .favourite .fa-heart-o {
    color: #2A2D33;
  }
  .card a .details .bottom .favourite .fa-heart {
    color: #FF6060;
  }